{% macro editor(post=None) %}
    <form method="post">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" autocomplete="off" maxlength=200 required>
        <label for="body">Body</label>
        <textarea name="body" id="body" maxlength=2000>{{ request.form['body'] or post['body'] }}</textarea>
        <input type="submit" value="Save">
    </form>
    {%- if post -%}
    <hr>
    <form action="{{ url_for('forum.delete', id=post['uuid']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
    {%- endif -%}
{% endmacro %}