html, body {height: 100%;}
.content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 5rem;
    background-color: #ffffff;
    text-align: center !important;
}
.form {
    width: 80%;
    max-width: 28rem;
    padding:0.5rem;
    margin: auto;
}
.form-control {margin-bottom:0.3rem;}