{% extends 'base.html' %}

{% block head %}<link rel='stylesheet' href="{{ url_for('static',filename='css/signin.css') }}">{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<form class="form" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    {%- for message in get_flashed_messages() -%}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {%- endfor -%}
    <label class='sr-only' for="username">Username</label>
    <input class="form-control" name="username" id="username" placeholder='username' required>
    <label class='sr-only' for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" placeholder='password' required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <p class="mt-3"><a href="{{ url_for('auth.register') }}">Register for an account?</a></p>
</form>
{% endblock %}